body{
    margin:0;
    padding:0
}
/* css du header */
header img{
 width: auto;
 height: 95px;
 padding: 0;
}
header{
    display: flex;
    background-color: white;
}
div a{
    text-decoration: none;
    color:#3011bc;
    font-size: 1.1rem;
    margin-left: 6px;
}
.lien_login{
    margin-top: 40px;
}
nav a{
    text-decoration: none;
    color:#3011bc;
    margin-right: 30px;
    font-size: 1.1rem;
}
nav{
    margin-top: 70px;
    margin-left: 290px;
    margin-right: 60px;
}

/* css de la première partie */
.first_background{
    background-image: url("6345959.jpg");
    background-size: cover;
}
h1{
    text-align: center;
    word-spacing: 6px;
    font-size: 3rem;
    color: orange    ;
    margin-top: 160px;
    margin-bottom: 80px;
    /* width: 500px; */
}
div button{
    /* background-color: orange; */
    border-style:solid;
    border-width: thin;
    border-color: white;
    padding: 8px;
    color:white;
    font-size: 1.4rem;
    margin-left: 43%;
    border-radius: 19px;
    margin-top: 95px;
    margin-bottom:39px;
    background-color: rgb(199, 206, 212);
    
}